@use 'variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}
.contenedor-95 {
    width: 95%;
    margin: 0 auto;
}
.contenedor-50 {
    width: 50%;
    max-width: 1200px;

    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.centrar-texto{
    text-align: center;
}
.contenedor-scroll-horizontal 
{
  overflow-x: auto;     /* Habilita scroll horizontal */
  width: 100%;          /* Ocupa todo el ancho disponible */
}

