@use 'base/variables' as v;
@use 'base/mixins' as m;


/* Estilo tipo tabla */
#listado-alumnos
{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top:  1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    min-width: 145rem;
}

.alumno-header, .alumno-item, .horario-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 0.5rem;
  align-items: center;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.alumno-header,.alumno-header {
    font-weight: bold;
    background-color: #525151;
    padding: 2rem;    
    .columna{
    color: v.$blanco;

    }
}

.alumno-item {
    background-color: white;
    padding: 1rem;
    max-height: 6rem;
    p
    {
        font-size: 1.5rem;
        color: v.$negro;
    }
}

.columna {
    overflow: hidden;
    text-overflow: ellipsis;
    color: v.$blanco;
}

.opciones {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para botones (usando tus variables Sass) */

.columna-opciones  {
    display: flex;
    align-items: center;
    justify-content: center;
            button {
            border: none;
            font-size: .9rem;
            padding: .5rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        .asignar-calificacion-alumno{
            background-color: v.$azul;
            color: v.$blanco;  
        }
        .eliminar-alumno {
            background-color: v.$rojo;
            color: v.$blanco;
        }
}
.columna-estatus
{   display: flex;
    align-items: center;
    justify-content: center;
        button 
        {
            border: none;
            font-size: .9rem;
            padding: .5rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;
        }
        .inscrito {
            background-color: v.$turquesa;
            color: v.$blanco;
        }
        .aprobado {
            background-color: v.$verde;
            color: v.$blanco;
        }
        .reprobado {
            background-color: v.$naranja;
            color: v.$blanco;
        }
        .retirado {
            background-color: v.$grisOscuro;
            color: v.$blanco;
        }        
}
