@use 'base/mixins' as m;
@use 'base/variables' as v;


.no-cursos
{
    a
    {
        color: v.$rojo;
    }
}

.listado-cursos
{
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 5rem;

    @include m.grid(1, 2rem);

    @include m.tablet 
    {
      @include m.grid(2, 2rem);
    }

    @include m.desktop 
    {
      @include m.grid(3, 2rem);
    }

    .curso
    {
        background-color: darken(v.$rojo-oscuro, 1%);
        min-height: 12rem;
        padding: 2rem;
        line-height: 2;
        border-radius: .5rem;
        border: none;
        border: 0.4rem v.$negro;
        &:hover
        {
            background-color: darken(v.$gris, 0.23%);
        }


        p
        {
            color: v.$blanco;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}
